extends ../layout

block content
    h1= title
    a.btn.btn-secondary(href="/") Retour à l'affichage des images
    a.btn.btn-primary(href="/admin/create") Ajouter une image

    - var pics = pics[0].data
    ul.list-group
        each pic in pics
            li.list-group-item
                p= pic.name
                img(src=`#{pic.url}`, alt=`lien mort pour #{pic.name}`)