extends ../layout

block content
    h1= title
    form(action="/admin/create", method="post")
        div.form-group
            label(for="name") Nom de l'image
            input.form-control(type="text", name="name", required)
        div.form-group
            label(for="url") URL de l'image
            input.form-control(type="url", name="url", required)
        button(type="submit") Enregistrer